extends layout.pug 

block Navigation


 .container
     img(src="static/images/banner_ab.jpg", alt="books" class="image")
 .container_ab 
    .txt_frame 
     h2.title_ab  Who we are?
     p.title_ab_p Osirus is a web-site for people, who are trying to find a new book to read.
     h2.title_ab Things you can do on Osirus.
     p.title_ab_p Read recommendations on book you want to read.<br> Leave a recomendation on the book you have read. <br> Get a hard copy or e-copy of the book on <a href="https://www.amazon.com/Kindle-eBooks/b?ie=UTF8&node=154606011" class="link">Amazon Kindle</a>
 .container_ref
    .txt_frame_1
     h2.title_ab  Sources.
     p.title_ab_p The images and products' information for this section were taken from <a href="https://www.amazon.com/Kindle-eBooks/b?ie=UTF8&node=154606011" class="link">Pexel,</a> <a href="https://www.pinterest.com/" class="link">Pinterest,</a> <a href="https://www.amazon.com/Kindle-eBooks/b?ie=UTF8&node=154606011" class="link"> Amazon. </a>


