extends layout.pug 

block Navigation
 

 .book_info 
    img(src="/images/fantasy/Harry.jpg", alt="HarryPotter" class="book_img")
 .description_books
    h1.title_b Crime and Punishment.
    hr
    <p class="description"> Raskolnikov, a destitute and desperate former student, wanders through the slums of St Petersburg and commits a random murder without remorse or regret. He imagines himself to be a great man, a Napoleon: acting for a higher purpose beyond conventional moral law. But as he embarks on a dangerous game of cat and mouse with a suspicious police investigator, Raskolnikov is pursued by the growing voice of his conscience and finds the noose of his own guilt tightening around his neck. Only Sonya, a downtrodden sex worker, can offer the chance of redemption. 
                            Meanwhile , across the Narrow Sea, Prince Viserys, heir of the fallen House Targaryen, which once ruled all of Westeros, schemes to reclaim the throne with an army of barbarian Dothraki—whose loyalty he will purchase in the only coin left to him: his beautiful yet innocent sister, Daenerys.
    </p>
    hr
 .amazonlink 
    a(href="http://amazon.com", id="buy_link") Get on Amazon! 
 .container_books_rating
     <div class="rating_wrap" id="rating_wrap">
       <h2 onclick = "toggleClass()"> Rate the book here <span>+</span></h2>
       
        <ol>
         <li><a href="#" class="star1" onclick="stars1();"><span class="fas fa-star"></span></a></li>
         <li><a href="#" class="star2" onclick="stars2();"><span class="fas fa-star"></span></a></li>
         <li><a href="#" class="star3" onclick="stars3();"><span class="fas fa-star"></span></a></li>
         <li><a href="#" class="star4" onclick="stars4();"><span class="fas fa-star"></span></a></li>
         <li><a href="#" class="star5" onclick="stars5();"><span class="fas fa-star"></span></a></li>
        .msg 
         <p class="p1"><span class="fas fa-sad-cry fa-2x"></span>
         <p class="p2"><span class="fas fa-sad-tear fa-2x"></span>
         <p class="p3"><span class="fas fa-meh fa-2x"></span>
         <p class="p4"><span class="fas fa-smile-beam fa-2x"></span>
         <p class="p5"><span class="fas fa-grin-stars fa-2x"></span>
         </div>
       
         <script type="text/javascript" src="/scripts/star_rating.js"></script>
