extends layout.pug 

block Navigation



    //---- Categories' Tables----//
    
    <div class="searchbar"> 
     input(type="text" placeholde="Search.." class="search_bar") 
    </div>
     .category_txt
      label.cat_txt Fantasy & Fiction books ->
     <div class="container_1">
      table 
       tbody 
        tr 
         td 
           a(href="/", target="_blank") 
            img(src="static/images/fantasy/book1_fan.jpg", alt="harry")
           .figcap 
             figcaption Harry Potter and <br>the Philosopher's Stone <br> (1997).
         td
           a(href="/", target="_blank") 
            img(src="static/images/fantasy/book2_fan.jpg", alt="Night Circus")
           .figcap 
             figcaption  Night Circus.<br> (2011).
         td
           a(href="/", target="_blank") 
            img(src="static/images/fantasy/book3_fan.jpg", alt="LordOfRings")
           .figcap  
             figcaption The Lord of The Rings.<br> (1954).
         td
           a(href="/", target="_blank") 
            img(src="static/images/fantasy/book4_fan.jpg", alt="TheSword")
           .figcap  
             figcaption The Sword in the Stone.<br> (1938).
         td
           a(href="/", target="_blank") 
            img(src="static/images/fantasy/book5_fan.jpg", alt="GameofThrones")
           .figcap  
             figcaption  Game of Thrones.<br> (1996).
      </div>
      <div class="container_1">
      table 
       tbody 
        tr 
         td 
           a(href="/", target="_blank") 
            img(src="static/images/fantasy/book6_fan.jpg", alt="harry")
           .figcap 
             figcaption Jonathan Strange and<br>Mr Norrell   <br> (1997).
         td
           a(href="/", target="_blank") 
            img(src="static/images/fantasy/book7_fan.jpg", alt="Night Circus")
           .figcap 
             figcaption  The Last Unicorn.<br> (1968).
         td
           a(href="/", target="_blank") 
            img(src="static/images/fantasy/book8_fan.jpg", alt="LordOfRings")
           .figcap  
             figcaption A Wizard of Earthsea.<br> (1968).
         td
           a(href="/", target="_blank") 
            img(src="static/images/fantasy/book9_fan.jpg", alt="TheSword")
           .figcap  
             figcaption The Dark is Rising.<br> (1984).
         td
           a(href="/", target="_blank") 
            img(src="static/images/fantasy/book10_fan.jpg", alt="GameofThrones")
           .figcap  
             figcaption The Lies of Locke Lamora.<br> (2006).
      </div>  
     .category_txt
      label.cat_txt Classic ->
     <div class="container_1">
      table 
       tbody 
        tr 
         td 
           a(href="/", target="_blank") 
            img(src="static/images/classic/book1_cl.jpg", alt="Pride")
           .figcap 
             figcaption Pride and Prejudice.<br> (1813).
         td
           a(href="/", target="_blank") 
            img(src="static/images/classic/book2_cl.jpg", alt="Gatsby")
           .figcap 
             figcaption  The Great Gatsby.<br> (1925).
         td
           a(href="/", target="_blank") 
            img(src="static/images/classic/book3_cl.jpg", alt="1984")
           .figcap  
             figcaption Nineteen Eighty-Four.<br> (1949).
         td
           a(href="/", target="_blank") 
            img(src="static/images/classic/book4_cl.jpg", alt="AnnaK")
           .figcap  
             figcaption Anna Karenina.<br> (1878).
         td
           a(href="/", target="_blank") 
            img(src="static/images/classic/book5_cl.jpg", alt="Crime&Punishment")
           .figcap  
             figcaption Crime and Punishment.<br> (1866).
      </div>
      <div class="container_1">
      table 
       tbody 
        tr 
         td 
           a(href="/", target="_blank") 
            img(src="static/images/classic/book6_cl.jpg", alt="AFarm")
           .figcap 
             figcaption Animal Farm (1945).
         td
           a(href="/", target="_blank") 
            img(src="static/images/classic/book7_cl.jpg", alt="Adventures")
           .figcap 
             figcaption  Adventures Of <br>Huckleberry Finn.<br> (1884).
         td
           a(href="/", target="_blank") 
            img(src="static/images/classic/book8_cl.jpg", alt="To kill Mockingbirde")
           .figcap  
             figcaption To Kill a Mockingbird.<br> (1960).
         td
           a(href="/", target="_blank") 
            img(src="static/images/classic/book9_cl.jpg", alt="JaneEyre")
           .figcap  
             figcaption Great Expectations.<br> (1861).  
         td
           a(href="/", target="_blank") 
            img(src="static/images/classic/book10_cl.jpg", alt="GameofThrones")
           .figcap  
             figcaption TJane Eyre.<br> (1847).
      </div>   
      .category_txt
       label.cat_txt For Kids ->
     <div class="container_1">
      table 
       tbody 
        tr 
         td 
           a(href="/", target="_blank") 
            img(src="static/images/kids/book1_kd.jpg", alt="Pride")
           .figcap 
             figcaption Pride and Prejudice.<br> (1813).
         td
           a(href="/", target="_blank") 
            img(src="static/images/kids/book2_kd.jpg", alt="Gatsby")
           .figcap 
             figcaption  The Great Gatsby.<br> (1925).
         td
           a(href="/", target="_blank") 
            img(src="static/images/kids/book3_kd.jpg", alt="1984")
           .figcap  
             figcaption Nineteen Eighty-Four.<br> (1949).
         td
           a(href="/", target="_blank") 
            img(src="static/images/kids/book4_kd.jpg", alt="AnnaK")
           .figcap  
             figcaption Anna Karenina.<br> (1878).
         td
           a(href="/", target="_blank") 
            img(src="static/images/kids/book5_kd.jpg", alt="Crime&Punishment")
           .figcap  
             figcaption Crime and Punishment.<br> (1866).
      </div>
      <div class="container_1">
      table 
       tbody 
        tr 
         td 
           a(href="/", target="_blank") 
            img(src="static/images/kids/book6_kd.jpg", alt="Pride")
           .figcap 
             figcaption Pride and Prejudice.<br> (1813).
         td
           a(href="/", target="_blank") 
            img(src="static/images/kids/book7_kd.jpg", alt="Gatsby")
           .figcap 
             figcaption  The Great Gatsby.<br> (1925).
         td
           a(href="/", target="_blank") 
            img(src="static/images/kids/book8_kd.jpg", alt="1984")
           .figcap  
             figcaption Nineteen Eighty-Four.<br> (1949).
         td
           a(href="/", target="_blank") 
            img(src="static/images/kids/book9_kd.jpg", alt="AnnaK")
           .figcap  
             figcaption Anna Karenina.<br> (1878).
         td
           a(href="/", target="_blank") 
            img(src="static/images/kids/book10_kd.jpg", alt="Crime&Punishment")
           .figcap  
             figcaption Crime and Punishment.<br> (1866).
      </div>    