footer 
    .quick_links  
        a(href='/' class = "nav_ft" ) Home
        a(href='/categories' class="nav_ft") Categories
        a(href='/about' class="nav_ft") About
        a(href='/Login' class="nav_ft") Sign up/ Log in
    .media 
        <a href="#" target="_blank"><img src="static/images/facebook.png" alt="fb" class="icon_media"></a>
        <a href="#" target="_blank"><img src="static/images/instagram.png" alt="fb" class="icon_media"></a>
    .copyrights 
         span.copyr ©WIUT
    .text_footer 
         span.text_ft "This website was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”.