extends layout.pug 

block Navigation

 body 
  .container 
     img(src="/images/banner.jpg", alt="books" class="image")
     .text_box
      h1#text_box Meet your next favourite book.
  .top 
   h2#top_box  Most popular books throught the decades.
  .category_txt
    label.cat_txt Fantasy & Fiction books ->
 <div class="container_books">
  table 
     tbody 
       tr 
         td 
           a(href="/book1_fan", target="_blank") 
            img(src="/images/fantasy/book1_fan.jpg", alt="harry")
           .figcap 
             figcaption Harry Potter and <br>the Philosopher's Stone <br> (1997).
         td
           a(href="/book2_fan", target="_blank") 
            img(src="/images/fantasy/book2_fan.jpg", alt="Night Circus")
           .figcap 
             figcaption  Night Circus.<br> (2011).
         td
           a(href="/book3_fan", target="_blank") 
            img(src="/images/fantasy/book3_fan.jpg", alt="LordOfRings")
           .figcap  
             figcaption The Lord of The Rings.<br> (1954).
         td
           a(href="/book4_fan", target="_blank") 
            img(src="/images/fantasy/book4_fan.jpg", alt="TheSword")
           .figcap  
             figcaption The Sword in the Stone.<br> (1938).
         td
           a(href="/book5_fan", target="_blank") 
            img(src="/images/fantasy/book5_fan.jpg", alt="GameofThrones")
           .figcap  
             figcaption  Game of Thrones.<br> (1996).
  </div>
  // Next table of images
  .category_txt
   label.cat_txt Classic books ->
  <div class="container_books">
  table 
     tbody 
       tr 
         td 
           a(href="/", target="_blank") 
            img(src="/images/classic/book1_cl.jpg", alt="Pride")
           .figcap 
             figcaption Pride and Prejudice.<br> (1813).
         td
           a(href="/", target="_blank") 
            img(src="/images/classic/book2_cl.jpg", alt="Gatsby")
           .figcap 
             figcaption  The Great Gatsby.<br> (1925).
         td
           a(href="/", target="_blank") 
            img(src="/images/classic/book3_cl.jpg", alt="1984")
           .figcap  
             figcaption Nineteen Eighty-Four.<br> (1949).
         td
           a(href="/", target="_blank") 
            img(src="/images/classic/book4_cl.jpg", alt="AnnaK")
           .figcap  
             figcaption Anna Karenina.<br> (1878).
         td
           a(href="/", target="_blank") 
            img(src="/images/classic/book5_cl.jpg", alt="Crime&Punishment")
           .figcap  
             figcaption Crime and Punishment.<br> (1866).
  </div>
    .next_ 
      a(href='/categories' id="explore") Explore more...
    .line_bottom 
      .holder 
        section.line_icons 
         <img src="/images/icons/Rate.png" class="icons"><span class="line_ic1"> Rate the books. </span>
         <img src="/images/icons/comment.png"  class="icons"><span class="line_ic2"> Leave your review. </span>
         <img src="/images/icons/Explore.png" class="icons"><span class="line_ic3"> Find your next book. </span>
         
    
        

        