doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //Link to css
        link(rel="stylesheet", href='/styles/style.css')
        link(rel="stylesheet", href='/styles/index_table.css')
        link(rel="stylesheet", href='/styles/login&sign.css')
        link(rel="stylesheet", href='/styles/star_rating.css')
        link(rel="stylesheet", href='/styles/blog.css')
        //Link to font
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        //Font Awesome
        <script src="https://kit.fontawesome.com/7b554faa0d.js" crossorigin="anonymous"></script>
        title Osirus
    body 
    header 
        label.logo Osirus
        .navb
         a(href='/' class = "nav" ) Home
         a(href='/categories' class="nav") Categories
         a(href='/Create_blog' class="nav") Blog
         a(href='/Sign' class="nav" id="box") Sign up/ Log in
       



block Navigation
include footer

