doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //Link to css
        link(rel="stylesheet", href="static/styles/style.css")
        //Link to font
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        title Osirus
    header
    .navbar 
     label.logo Osirus
     .navb
        input(type="text" placeholder="Search" class="search")
     
        a(href='/' class = "nav" ) Home 
        a(href='/Categories' class="nav") Categories
        a(href='/Cart' class="nav") Cart 
        a(href='/Sing&Login' class="nav" id="box") Sign up/Log in
        
    block Navigation