:root{
    --main-bg-color:rgb(250, 235, 215);
    --main-color: rgb(244, 246, 246);
    --secondly-color: rgb(33,33,33);
    --thirdly-color: rgb(169,169,169);
    --forthly-color:rgb(149, 69, 53); 
}


html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-color);
}
html *{
    margin-left: auto;
   margin-right: auto;
   scroll-behavior: smooth;
}
body{
    margin-bottom: 0;
    min-height: 100vh;
    min-width: 100vh;
}   
.logo {
    margin: 0 10px 0 30px;
    font-size: 30pt;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 75px;
    color: var(--main-color);
    
}
header{
    height: 75px;
    width: 100%;
    background-color: rgb(149, 69, 53); 
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.navb{
    float: right;
    line-height: 75px;
}
.nav{
    text-decoration: none;
    color: rgb(244, 246, 246);
    margin-left: 10px;
    font-size: 20pt;
    font-weight: 700;
    margin-right: 30px;
    text-transform: uppercase;
    transition: all 0.3s;
}
.nav:hover{
    color: rgb(250, 235, 215);
}

#box{
   border: 2px solid var(--secondly-color);
   border-radius: 5px;
   background: 	rgb(169,169,169);
   color:rgb(244, 246, 246);    
}
#box:hover{
    color: 	rgb(169,169,169);
}
/*Body starts*/
.container {
    align-items: center;
    justify-content: center;
   
}
.image{
   margin-top: 20px;
   width: 100%;
}
.text_box{
    margin-left: 30%;
    position: absolute;
    top: 125px;
    color:rgb(33,33,33);
    text-transform: uppercase;
    font-style: italic;
    padding: 16px 30px;
    text-shadow: 4px 6px 3px var(--thirdly-color);
    font-weight: 700;
    font-size: 15pt;
}
#text_box{
    border: 2px solid var(--forthly-color);
    border-radius: 5px;
    background: var(--main-color);
}
/*Most Popular Table*/
.top{
    text-align: center;
    margin-top:15px; 
    font-size: 15pt;
    color: var(--secondly-color);
    text-transform: uppercase;
    font-weight: 700;
}
#top_box{
    background: var(--main-bg-color);
    -webkit-box-shadow: 0px 14px 35px -3px rgba(34, 60, 80, 0.48);
    -moz-box-shadow: 0px 14px 35px -3px rgba(34, 60, 80, 0.48);
    box-shadow: 0px 14px 35px -3px rgba(34, 60, 80, 0.48);
    border: 2px solid var(--forthly-color);
    padding-top: 10px;
    padding-bottom:10px;
}
.category_txt{
    text-align: left;
    margin-top: 35px;
    text-transform: none;
    margin-left: 15px;
    font-size: 20pt;
    margin-right: 0;
}
.cat_txt{
    border: 2px solid rgb(33,33,33);
    background-color: rgb(149, 69, 53);
    font-size: 20pt;
    font-weight: 700;
    color: rgb(244, 246, 246);
}
/*Link to thr categories*/
.next_{
    text-align: center;
} 
#explore{
    text-decoration: none;
    font-size: 20pt;
    font-weight: 700;
    color: var(--secondly-color);
    border: 2px solid var(--forthly-color);
    border-radius: 5px;
    background: var(--main-bg-color);   
}
/* Show the features of the web-site*/
.line_bottom {
   margin-top: 40px;
   width: 100%;
   height: 150px;
   background: var(--forthly-color);
   
}
.line_icons{
    width: 400px;
    color: var(--main-color);
    display: inline-flex;
}
.line_icons span{
    font-size: 15pt;
    position: relative;
    margin-top: 40px;
    float: left;
    text-align: left;
    font-weight: 700;
  
}
.line_ic1{
    font-size: 15pt;
    position: relative;
    margin-top: 50px !important;
    margin-left: 10px;
    float: left;
    text-align: left;
}
.line_ic2{
    font-size: 15pt;
    position: relative;
    margin-top: 50px !important;
    margin-left: 20px;
    float: left;
    text-align: left;
}
.line_ic3{
    font-size: 15pt;
    position: relative;
    margin-top: 50px !important;
    margin-left: 10px;
    float: left;
    text-align: left;
}
.icons{
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-left: 55px;
}
.holder{
   margin-left: 600px;
}
/*-- Category page---*/








/*-- ABOUT US---*/
.container_ab{
    text-align: center;
    position: absolute;
    top: 200px;
    left:360px;
}
.txt_frame{
   width: 1200px;
   background: var(--main-bg-color);
   padding-top:20px;
   padding-bottom: 20px;
   border: 2px solid var(--secondly-color);
   -webkit-box-shadow: 0px 14px 35px -3px rgba(34, 60, 80, 0.48);
   -moz-box-shadow: 0px 14px 35px -3px rgba(34, 60, 80, 0.48);
   box-shadow: 0px 14px 35px -3px rgba(34, 60, 80, 0.48);
}
.title_ab_p{
    margin-top: 10px;
    font-size: 15pt;
    color: var(--secondly-color);
    text-shadow: 4px 6px 3px var(--main-color);
}
.title_ab{
    font-size: 25pt;
    font-weight: 700;
    color: var(--secondly-color);
    text-shadow: 4px 6px 3px var(--main-color);
}
.container_ref{
    text-align: center;
    left: 560px;
    top: 600px;
    position: absolute;
}
.txt_frame_1{
    width: 800px;
    background: var(--main-bg-color);
    padding-top:20px;
    padding-bottom: 20px;
    border: 2px solid var(--secondly-color);
    -webkit-box-shadow: 0px 14px 35px -3px rgba(34, 60, 80, 0.48);
    -moz-box-shadow: 0px 14px 35px -3px rgba(34, 60, 80, 0.48);
    box-shadow: 0px 14px 35px -3px rgba(34, 60, 80, 0.48);
    
}
.link{
    color: var(--secondly-color);
}
/*FOOTER*/
footer{
    margin-top: 50px;
    text-align: center;
    padding: 20px 25px ;
    overflow: hidden;
    background: var(--main-bg-color);
    position: static;
}
.quick_links{
    margin: 10px;
}
.nav_ft{
    margin-left: 20px;
    font-size: 15pt;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;
    color: var(--secondly-color);
}
.nav_ft:hover{
    color:var(--main-bg-color);
}
.media{
    margin-top: 10px;
}
.icon_media{
    width: 30px;
    height: 30px;
}
.copyrights {
    text-align: center;
    margin-top: 10px;
}
.copyr{
    font-weight: bold;
    font-size: 15pt;
}
.text_ft{
    font-weight: 600;
}
/* books   */
.book_info img{
   width: 300px;
   height: 420px;
   float: left;
   padding: 40px;
   margin-left: 30px;

}
.description_books{
   width: 1600px;
   height: 420px;
   margin-left: 100px;
  
}
.title_b{
    font-size: 25pt;
    font-weight: 700;  
    margin-bottom: 20px;
    margin-top: 70px;
}
.description{
    font-size: 15pt;
    font-weight: 500; 
    margin-top: 10px;
    margin-bottom: 20px;
 }
 .amazonlink {
    margin-left: 100px;
    margin-top: 10px;
}
#buy_link{
    font-size: 20pt;
    text-decoration: none;
    color: var(--main-color);
    border: 2px solid var(--secondly-color);
    border-radius: 5px;
    background: var(--forthly-color);
}

